* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #fcfcfc;
}

header {
    width: 96%;
    margin: 0px 2%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000000;
}

header > h1 {
    margin-left: calc(100% - 98%);
}

#btn-container {
    display: flex;
    align-items: center;
    margin-right: calc(100% - 98%);
}

#btn-container > button {
    margin: 15px;
    box-shadow: 2px 2px 0px #000000;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px;
    text-shadow: 2px 2px 0px #000000;
    cursor: pointer;
    background-color: #00AA00;
    color: #FFFFFF;
}

#btn-container > button:hover {
    background-color: #009900;
}

#btn-container > button:last-of-type {
    background-color: #FF3344;
    color: #fdfdfd;
    text-shadow: 2px 2px 0px #000000;
}

#btn-container > button:last-of-type:hover {
    background-color: #cf1b2a;
}

#product_form {
    margin: 20px;
    margin-left: calc(100% - 96%);
    width: 50%;
    display: flex;
    flex-direction: column;
}

#product_form label {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: -28px;
    font-size: 24px;
}

#product_form input, #product_form select {
    align-self: center;
    width: 50%;
    border-radius: 10px;
    font-size: 24px;
    border: 1px solid #000000;
    background-color: #f7f7f7;
}

#product_form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-top: 80px;
}

#product_form span {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
}

#product_form #Book-info {
    display: none;
}

#product_form #Furniture-info {
    display: none;
}

#product_form #input-warning {
    display: none;
    color: #FF3344;
}

#product_form > span:last-of-type {
    color: #FF3344;
}

footer {
    border-top: 2px solid #000000;
    width: 96%;
    margin: 0px 2%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}